<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../../lib/internal/Magento/Framework/App/etc/routes.xsd">
    <router id="standard">
        <route id="newsletter" frontName="newsletters">
            <module name="Mage2sol_Newsletters" />
        </route>
    </router>
</config>
