<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
  <type name="Magento\Newsletter\Model\Subscriber">
    <plugin name="mage2sol_newsletter_model_subscriber" type="\Mage2sol\Newsletters\Plugin\Subscriber" sortOrder="1" />
  </type>
  <preference for="Magento\Newsletter\Controller\Subscriber\NewAction" type="Mage2sol\Newsletters\Controller\Magento\Newsletter\Subscriber\NewAction" /> 	
</config>
